syntax: glob

# Directories
site_media/media
search_index
.sass-cache
*.egg-info

# Files
*~
*.bak
*.db
*.kpf
*.old
*.pyc
*.sassc
*.swp
*.tmproj
local_settings.py

# Mac stuff
.DS_Store

# Other SCM
.svn
.CVS
.hg*
